/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 sept. 2018, 09:32:55
    Author     : AGT (Adela, Guillaume, Tiphaine)
*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}



body{
    /*background-color: #5eb5e0;*/
    text-align: right;
}
sidebar{
    text-align: left;
}
h1,h2,h3, a,p, div{
    font-family: arial,sans-serif;
    text-align: left;
}
h1, p.logo{
    float:left;
}

hr{
    margin-top: 20px;
}

p.logo{
    margin-left: 300px;
    margin-right: 20px;
}

div.clear{
    clear:both;
    height: 0; overflow: hidden; /* Précaution pour IE 7 */
}

ul.menu{
    /* Valeur avec un mot-clé */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.menu li{
    /*tous les li qui sont dans un ul ayant la classe menu*/
    display: block;
    border: 1px solid #000000;
    width: 100px;
    background-color: #D7DDDB;
    float:right;
    margin-left: 10px;
}

ul.menu li:hover{
    background-color: #FAC699;
}

ul.menu li a,ul.menu li a:hover,ul.menu li a:active{
    text-align: center;
    display: block;
    color:#712164;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

.logoeni{
    width: 80px;
    border: 1px solid white;
    border-radius: 10px;
}

div.post{
    margin-top: 40px;
}

div.post a, div.post a:hover, div.post a:active{
    color: #4F8A83;
}

div.post h3{
    margin: 10px 0;
}

div.post hr{
    margin: 0;
}

p.details{
    text-align: right;
    font-size: 14px;
}

p.details span.date{
    font-weight: bold;
}

p.details span.author{
    font-style: italic;
}

p.content{
    font-size: 15px;
}

footer{
    padding: 40px 0 20px 0;
    text-align: center;
    font-size: 12px;
}