/* Votre Style */

ul {
  background: #bbb;
}
li, [class*="grid"] > * {
  background: #ccc;
}
header, footer {
  background: #ddd;
}
main {
  background: #eee;
}
aside {
  background: #aaa;
}

.titreA{
    font-size: 36px;
}
